.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clickable {
  cursor: pointer;
}

.nav-button:hover {
  background-color: rgb(52, 52, 52);
}

.nav-icon {
  height: 40px;
  display: inline-block;
  padding-right: 10px;
}

.nav-text {
  font-size: 35px;
  display: inline-block;
}

.ui-bg {
  background-color: rgb(42, 42, 42);
  color: white;
}

.game-layout {
  min-height: 100vh;
}

.card-icon {
  height: 70px;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.card-title {
  font-size: 45px;
  text-align: left;
  float: left;
}

.inv-icon {
  height: 50px;
}

.inv-text {
  font-size: 30px;
}

.stat-text {
  font-size: 27px;
  font-weight: 600;
  text-align: right;
  margin: 0;
  padding-right: 20px;
}

.save-slot-1 {
  width: 80%;
  height: 100%;
  font-size: 50px;
  margin-right: 3%;
}

.save-slot-2 {
  width: 17%;
  height: 100%;
  font-size: 50px;
}

.save-slot-delete {
  height: 20px;
}